@keyframes animation {
    from {
        top: 10px;
        left: 150px;
        transform: scale(0.5);
    }

    20% {
        transform: scale(1.5);

    }
    50% {
        transform: scale(0.8);
    }
    to {
        top: -1000px;
        left: 1000px;
        opacity: 0;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-seri
}

body {
   height: 100vh;

}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

}

.animate {
    display: block !important;
    animation: animation 1s linear;

}
